[Unit]
Description=T24 h2 DB Client (keeping one always up speeds up connections)

[Service]
ExecStart=/usr/lib/jvm/java-7-openjdk-amd64/bin/java -server -Xmx32M -XX:MaxPermSize=32M -cp /home/mvorburger/PreSalesDS/base_mb_t24brpdev_7/h2/bin/h2-1.3.172.jar:/home/mvorburger/PreSalesDS/base_mb_t24brpdev_7/TAFJ/dbscripts/h2/TAFJFunctions.jar org.h2.tools.Shell -url "jdbc:h2:tcp://localhost/TAFJDB;DB_CLOSE_ON_EXIT=FALSE;MODE=Oracle;TRACE_LEVEL_FILE=0;TRACE_LEVEL_SYSTEM_OUT=0;FILE_LOCK=NO;IFEXISTS=TRUE;CACHE_SIZE=8192" -user tafj -password tafj
StandardInput=tty

[Install]
WantedBy=default.target
